.todo {
    width: 90%;
    height: 50px;
    padding: 0 5%;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #ddd;
    line-height: 50px;
    position: relative;
}

.todo span {
    margin-left: 5%;
}
.todo .arrow {
    width: 16px;
    height: 16px;
    background: url(img/downArrow.png) no-repeat center center/16px 16px;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.todo .upArrow {
    width: 16px;
    height: 16px;
    background: url(img/upArrow.png) no-repeat center center/16px 16px;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
 .detailUl  {
    width: 90%;
    height: auto;
}
.detailUl li {
    width: 80%;
    height: 30px;
    padding: 0 10%;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #ddd;
    line-height: 30px;
}
